<% provide(:title, "Users Added") %>
      <h1 style="text-align: center;">Users Added!</h1>
<div class="login" style="text-align: center;">
<% if @success.size != 0%>
    <b>Created <%=@success.size%> Users</b><br>
    <% @success.each do |user| %>
        <%= "#{user} created"%><br>
    <%end%>
<%end%>
<%if @errors.size != 0 %>
    <b><%=@errors.size%> users were not created </b><br>
    <% @errors.each do |user| %>
        <%= "Creation of #{user} failed"%><br>
    <% end%>
<%end%>
</div>