<div style="margin: auto; ">
<ul style="margin:auto; width: 100%; display: block;">
    <li><a href="#" class="docLink">Home</a></li>
    <li><a href="#" class="docLink">iFit</a></li>
    <li><a href="#" class="docLink">Cert Prep</a></li>
    <li><a href="#" class="docLink">Misc</a></li>
<ul>
</div>