<%= render 'documents/docNav'%>
<h2 style="text-align:center">Most Used Documents</h2>
<div style="display:flex;">
<div class="section">
    <div class="list"><a href="#" class="document">Document Link</a></div>
    <div class="list"><a href="#" class="document">Document Link</a></div>
    <div class="list"><a href="#" class="document">Document Link</a></div>
    <div class="list"><a href="#" class="document">Document Link</a></div>
    <div class="list"><a href="#" class="document">Document Link</a></div>
    <div class="list"><a href="#" class="document">Document Link</a></div>
</div>
<div class="section">
    <div class="list"><a href="#" class="document">Document Link</a></div>
    <div class="list"><a href="#" class="document">Document Link</a></div>
    <div class="list"><a href="#" class="document">Document Link</a></div>
    <div class="list"><a href="#" class="document">Document Link</a></div>
    <div class="list"><a href="#" class="document">Document Link</a></div>
    <div class="list"><a href="#" class="document">Document Link</a></div>
</div>
</div>