<% provide(:title, "Home") %>

<div class="homeContent">
    <h2 style="text-align: center">Announcements</h2>
    <%if current_user.role == 0%>
        <a href="/announcements/new" class="profileLink">New Announcement</a><br><br>
    <%end%>
    <% @announcements.each do |announce|%>
        <div class="announcements"><%= announce.body%></div>
    <% end %>
</div>
<div class="homeContent">
    Newsletter
</div>
